body {
	background-color: black;
	color: white;
	margin: 0px;
	display: flex;
	flex-direction: column;
}

header,
p {
	width: 500px;
	margin: 0%;
	height: 30px;
	text-align: center;
}

header {
	font-size: 20px;
	font-weight: bold;
}

div {
	margin: 10px;
}

button {
	margin: 5px;
	text-align: center;
}

ul {
	display: flex;
	margin: 0px;
	padding-left: 10px;
}

.holders {
	flex-direction: row;
	margin: 0px;
	background-color: rgba(255, 255, 255, 0.2);
	height: 100%;
}

#line1 {
	height: 150px;
	display: flex;
}

#line2 {
	height: 200px;
}

#line3 {
	height: 200px;
}

#line4 {
	height: 150px;
	display: flex;
}

#buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#Projects {
	min-width: 200px;
	flex-grow: 1;
}

#Colony {
	width: 100%;
}

#Blueprint {}

#Dice {
	width: 50%;
	min-width: none;
}

#MOD {
	height: 100%;
	width: 100px;
	text-align: center;
	flex-direction: column;
	line-height: 2em;
	display: flex;
	align-items: center;
}

#MODleft {
	width: 100%;
}

#Preserve {
	width: 50%;
	min-width: none;
}

#NextTurnBtn {
	display: none;
}

.coloum {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.Dice {
	width: 50px;
	height: 50px;
	margin: 10px;
	display: flex;
	text-align: center;
}

.DiceNum {
	margin-top: 5px;
	font-size: 30px;
}

.item {
	width: 120px;
	height: 125px;
	margin: 10px;
	margin-top: 0px;
	float: left;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.itemName {
	width: 90%;
	font-size: 14px;
	text-align: center;
	height: auto;
	margin-bottom: 5px;
}

.itemDes {
	width: 90%;
	font-size: 13px;
}

.MODBtn {
	width: 30px;
}

.SelectedDice,
.clickable {
	border: 5px solid green;
}